.sobre-secao {
  background-color: #0d0d0d;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.sobre-container-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  min-height: 100vh;
}

/* ESTILO DO TEXTO */
.sobre-coluna-texto {
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  text-align: left; 
}

.sobre-tag {
  font-family: monospace;
  letter-spacing: 3px;
  font-weight: bold;
  margin-bottom: 20px;
}

.sobre-titulo {
  font-size: 5rem;
  font-weight: 900;
  line-height: 0.9;
  margin-bottom: 30px;
  color: white;
}

.sobre-bio p {
  color: #a0a0a0;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  font-size: 1.1rem;
  font-weight: 300; 
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify; 
  max-width: 95%;
}

/* ESTILO DA FOTO (DIREITA) */
.sobre-coluna-foto {
  width: 100%;
  height: 100%;
}

.foto-perfil-full {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}