@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;900&family=Space+Mono:wght@400;700&display=swap');


:root {
  --fonte-principal: 'Inter', Helvetica, sans-serif;
  --fonte-detalhes: 'Space Mono', monospace;
  --cor-fundo: #0d0d0d;
  --cor-texto: #f5f5f5; /*  texto principal claro */
  --cor-texto-mutado: #888888;
  --cor-destaque: #ccff00; 
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  font-family: var(--fonte-principal);
  font-size: 16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 15px;
  letter-spacing: -1px; 
}

h1 { font-size: 3.5rem; }
h2 { font-size: 2.5rem; } 
h3 { font-size: 1.5rem; }

p {
  font-size: 1rem;
  color: var(--cor-texto-mutado);
  font-weight: 300; 
}

.texto-destaque {
  color: var(--cor-destaque);
}

.container-principal {
  max-width: 1200px;
  margin: 0 auto; 
  padding: 20px;
}

.sobre-tag, 
.tag-verde, 
.tag-vermelha, 
.badge-estilo {
  font-family: var(--fonte-detalhes) !important;
  font-size: 0.8rem !important;
  letter-spacing: 2px;
  text-transform: uppercase;
}